<p id="notice"><%= notice %></p>

<h4>
  <%= @organization.name %>
</h4>

<h4>Clusters</h4>

<section>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <% @clusters.each do |cluster| %>
        <tr>
          <td><%= link_to cluster.name, cluster %></td>
          <td><%= cluster.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<a href="<%= new_cluster_path %>">
  <button class="btn btn-info">+ Add New Cluster</button>
</a>


