<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Organization</th>
    </tr>
  </thead>

  <tbody>
    <% @clusters.each do |cluster| %>
      <tr>
        <td><%= link_to cluster.name, cluster %></td>
        <td><%= cluster.description %></td>
        <td><%= cluster.organization.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="<%= new_cluster_path %>">
  <button class="btn btn-info">+ Add New Cluster</button>
</a>


