<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cluster.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cluster.description %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @cluster.organization_id %>
</p>

<%= link_to 'Edit', edit_cluster_path(@cluster) %> |
<%= link_to 'Back', clusters_path %>
