<p id="notice"><%= notice %></p>

<h6>
  <a href="/organizations/<%=current_user.organization.id%>">
    <%= current_user.organization.name %>
  </a>
</h6>

<h4>Ventilators</h4>

<table class="table">
  <thead>
    <tr>
      <th>Cluster</th>
      <th>Name</th>
      <th>Hostname</th>
      <th>Organization</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @ventilators.each do |ventilator| %>
      <tr>
        <td><%= ventilator.cluster.name %></td>
        <td><%= ventilator.name %></td>
        <td><%= ventilator.hostname %></td>
        <td><%= ventilator.cluster.organization.name %></td>
        <td><%= link_to 'Settings', edit_ventilator_path(ventilator) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ventilator', new_ventilator_path %>

