<%= render 'shared/link_to_org', organization: current_user.organization %>

<h4>Ventilators</h4>

<table class="table">
  <thead>
    <tr>
      <th><%= current_user.organization.cluster_term_singular %></th>
      <th>Name</th>
      <th>Hostname</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @ventilators.each do |ventilator| %>
      <tr>
        <td><%= ventilator.cluster.name %></td>
        <td><%= link_to ventilator.name, ventilator %></td>
        <td><%= ventilator.hostname %></td>
        <td><%= link_to 'Settings', edit_ventilator_path(ventilator) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.admin? || current_user.org_admin? %>
  <section>
    <a href="/ventilators/new">
      <button class="btn btn-info">
        + Add New Ventilator
      </button>
    </a>
  </section>
<% end %>

