<p id="notice"><%= notice %></p>

<h1>Ventilators</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Hostname</th>
      <th>Organization</th>
      <th>Cluster</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @ventilators.each do |ventilator| %>
      <tr>
        <td><%= ventilator.name %></td>
        <td><%= ventilator.hostname %></td>
        <td><%= ventilator.cluster.organization.name %></td>
        <td><%= ventilator.cluster.name %></td>
        <td><%= link_to 'Settings', edit_ventilator_path(ventilator) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ventilator', new_ventilator_path %>

