<p id="notice"><%= notice %></p>

<h6>
  <a href="/organizations/<%=@ventilator.cluster.organization.id%>">
    <%= @ventilator.cluster.organization.name %>
  </a>
</h6>

<h6>
  <a href="/clusters/<%=@ventilator.cluster.id%>">
    <%= @ventilator.cluster.name %>
  </a>
</h6>

<h4>
  Ventilator: <%= @ventilator.name %>
</h4>

<section>
  <a href="<%= edit_ventilator_path %>">
    <button class="btn btn-info">
      <i class="fas fa-cog"></i>
      Ventilator Settings
    </button>
  </a>
</section>

<section>
  <table class="table">
    <col style="width:25%">
    <tbody>
        <tr>
          <td>Serial number:</td>
          <td><%= @ventilator.serial_number %></td>
        </tr>

        <tr>
          <td>Hostname:</td>
          <td><%= @ventilator.hostname %></td>
        </tr>

        <tr>
          <td>Api key:</td>
          <td><%= @ventilator.api_key %></td>
        </tr>

        <tr>
          <td>Notes:</td>
          <td><%= @ventilator.notes %></td>
        </tr>

        <tr>
          <td>Ventilator user:</td>
          <td><%= @ventilator.ventilator_user %></td>
        </tr>

        <tr>
          <td>Ventilator password:</td>
          <td><%= @ventilator.ventilator_password %></td>
        </tr>
    </tbody>
  </table>
</section>
