<p id="notice"><%= notice %></p>

<h6>
  <%= @ventilator.cluster.organization.name %>
</h6>
<h6>
  <%= @ventilator.cluster.name %>
</h6>
<h2>
  Ventilator: <%= @ventilator.name %>
</h2>

<section>
  <a href="<%= edit_ventilator_path %>">
    <button class="btn btn-info">
      <i class="fas fa-cog"></i>
      Ventilator Settings
    </button>
  </a>
</section?>

<section>
  <table class="table">
    <tbody>
        <tr>
          <td>Serial number:</td>
          <td><%= @ventilator.serial_number %></td>
        </tr>

        <tr>
          <td>Hostname:</td>
          <td><%= @ventilator.hostname %></td>
        </tr>

        <tr>
          <td>Api key:</td>
          <td><%= @ventilator.api_key %></td>
        </tr>

        <tr>
          <td>Notes:</td>
          <td><%= @ventilator.notes %></td>
        </tr>

        <tr>
          <td>Ventilator user:</td>
          <td><%= @ventilator.ventilator_user %></td>
        </tr>

        <tr>
          <td>Ventilator password:</td>
          <td><%= @ventilator.ventilator_password %></td>
        </tr>

        <tr>
          <td>Cluster:</td>
          <td><%= @ventilator.cluster.name %></td>
        </tr>
    </tbody>
  </table>
</section>
