<p id="notice"><%= notice %></p>

<h2>Users</h2>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>Name</th>
      <th>Role</th>
      <th>Organization</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.email, user %></td>
        <td><%= user.name %></td>
        <td><%= user.role %></td>
        <td><%= user.organization_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
