<h4>User Profile: <%= @user.email %></h4>

<section>
  <% if current_user == @user %>
    <a href="<%= edit_user_registration_path %>">
      <button class="btn btn-info">
        <i class="fas fa-cog"></i>
        Change Password
      </button>
    </a>
    <a href="<%= edit_user_path(current_user) %>">
      <button class="btn btn-info">
        <i class="fas fa-cog"></i>
        Edit My Profile
      </button>
    </a>
  <% elsif current_user.admin? %>
    <a href="<%= edit_user_path(@user) %>">
      <button class="btn btn-info">
        <i class="fas fa-cog"></i>
        Edit User Profile
      </button>
    </a>
  <% end %>
</section>

<section>
  <table class="table user-show">
    <tr>
      <th>Username:</th>
      <td><%= @user.name.present? ? @user.name : "" %></td>
    </tr>
    <tr>
      <th>Email:</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>Role:</th>
      <td><%= @user.role %></td>
    </tr>
    <tr>
      <th>Bio:</th>
      <td><%= @user.bio %></td>
    </tr>
    <tr>
      <th>Organization:</th>
      <td><%= @user.organization ? @user.organization.name : "" %></td>
    </tr>
  </table>
</section>


<section>
  <h4>Stats:</h4>
  <table class="table user-show">
    <tr>
      <th>reset_password_sent_at</th>
      <td><%= @user.reset_password_sent_at %></td>
    </tr>
    <tr>
      <th>remember_created_at</th>
      <td><%= @user.remember_created_at %></td>
    </tr>
    <tr>
      <th>sign_in_count</th>
      <td><%= @user.sign_in_count %></td>
    </tr>
    <tr>
      <th>current_sign_in_at</th>
      <td><%= @user.current_sign_in_at %></td>
    </tr>
    <tr>
      <th>last_sign_in_at</th>
      <td><%= @user.last_sign_in_at %></td>
    </tr>
    <tr>
      <th>current_sign_in_ip</th>
      <td><%= @user.current_sign_in_ip %></td>
    </tr>
    <tr>
      <th>created_at</th>
      <td><%= @user.created_at %></td>
    </tr>
    <tr>
      <th>last_sign_in_ip</th>
      <td><%= @user.last_sign_in_ip %></td>
    </tr>
    <tr>
      <th>updated_at</th>
      <td><%= @user.updated_at %></td>
    </tr>
  </table>
</section>
