<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Discription</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @organization.id %></td>
        <td><%= @organization.name %></td>
        <td><%= @organization.description %></td>
      </tr>
  </tbody>
</table>

<h2>Clusters</h2>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @organization.clusters.each do |cluster| %>
      <tr>
        <td>
          <%= cluster.id %>
        </td>
        <td>
          <%= cluster.name %>
        </td>
        <td>
          <%= cluster.description %>
        </td>
        <td>
          <%= link_to 'Show', cluster %>
        </td>
        <td>
          <%= link_to 'Edit', edit_organization_cluster_path(cluster) %>
        </td>
        <td>
          <%= link_to 'Destroy', cluster, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Add a Cluster:</h2>
<%= form_with(model: [ @organization, @organization.clusters.build ], local: true) do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
